################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project3Digital/bin
/Project3Digital/obj/Debug
