#types {
    float: right;
    position: relative;
}

#cellsContainer {
    height: 220px;
    overflow-y: scroll;
}

#pinsContainer {
    height: 70px;
    overflow-y: scroll;
}

#types {
    border: 1px dashed;
}

    #types div label span {
        vertical-align: text-bottom;
    }

#buttons {
    text-align: center;
    width: 100%;
    border: none;
}

.cells, .pins {
    fill: lightgray;
}

.picker {
    float: right;
}

    .picker > span {
        border: 1px solid black;
    }

.hidden {
    visibility: hidden;
}

.die {
    stroke-width: 1;
    stroke: blue;
    stroke-dasharray: 3,1;
}
