#cellsContainer {
    height: 180px;
    overflow-y: scroll;
}

#pinsContainer {
    height: 70px;
    overflow-y: scroll;
}

#types {
    float: right;
    position: relative;
    border: 1px dashed;
}

    #types div label span {
        vertical-align: text-bottom;
    }


#canvas_container {
    overflow-x: auto;
}

#buttons {
    text-align: center;
    width: 100%;
    border: none;
}

.panel-title > a:hover {
    text-decoration: none;
}

.cells, .pins {
    fill: lightgray;
}

.picker {
    float: right;
}

    .picker > span {
        border: 1px solid black;
    }

.hidden {
    visibility: hidden;
}

.die {
    stroke-width: 1;
    stroke: blue;
    stroke-dasharray: 3,1;
}

.pdn {
    stroke-width: 2;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
